#map {
  width: 30%;
  height: 40%;
  position: absolute;
  bottom: 0;
  margin-left: 1%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* display: inline-block; */
  /* display: flex;
  flex: auto; */

}
body {
  background-image: url(globe.png) ;
  background-size: cover;
}
h1{
  text-align: center;
  color: blue;
  font-family: 'Cinzel', serif;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
}
p{
  font-family: 'Raleway', sans-serif;
}

#home {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20%;
  margin-left: 50%;
}
#words {
  background-color : white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 3px
}

#first{
  text-align: center;
  font-size: 20px;
  color : forestgreen;
}
#explain{
  font-size: 20px;
  text-align: left;
  color : forestgreen;
}

#more{
  font-size: 20px;
  text-align: left;
  color : forestgreen;
}
#money{
  font-size: 20px;
  text-align: left;
  color : forestgreen;
}
#convert{
  font-size: 20px;
  text-align: left;
  color : forestgreen;
 }


#translate{
  bottom : 10px;
  right: 110px;
  color : forestgreen;
}
