

body{
  background-color: lightblue;
}
h1 {
  font-size: 48px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;


}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#funny{
  margin-left: 2%;
}

select {
  font-size: 14px;
  color: green !important;
}

button{
  font-size: 14px;
  color: green !important;
}

form {
  margin-left: 33%;
}
#myInput {
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.show {display: block;}
