

body{
  background-color: lightblue;
}
h1 {
  font-size: 48px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;


}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#basic{

}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
select {
  /* font-family: 'Raleway', sans-serif !important; */
  font-size: 14px;
  color: green !important;
}
button{
  font-size: 14px;
  color: green !important;
}
form {
  margin-left: 33%;
}
#myInput {
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    borderbottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inlineblock;
}

.dropdowncontent {
    display: none;
    margin-top: 85px;
    position: fixed;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
