
<html>
  <head>
    <title>USA</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/country.css">
  </head>
  <body>
    <h1> {{ name }} Travel Guide</h1>

    <p id="first"> Currently in {{name}} they are expierencing a {{ rating }} on the safety
         rating scale. The advice is: {{warning}} </p>
    <p id="explain"> A rating of zero means that the country is completely safe and a rating of five means it is a no visit zone. </p>

    <p id="more"> If you are looking to know more about {{name}} and the situation visit {{learn_more}}.  </p>

    <p id= "money"> The currency in {{ name }} is the {{ currency }}. </p>

    <div id="map"></div>
    <div>
      <iframe src = "/translate/{{ alpha_2 }}"></iframe>
    </div>
    <button id= "home" type = submit> Back to Home </button>
    <button id= "translate" type = submit> Translate </button>
    <script>
      var map
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38.89378, lng: -77.15},
          zoom: 8
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzngbAnKA7wkJDMfS2VrY4sy2TY7lEWhk&callback=initMap"
    async defer></script>
  </body>
</html>
