<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>Interactive Map 2.0</title>


  <link rel="stylesheet" href="../static/map2.css">

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>

<script src = "../static/datamaps.world.min.js" > </script>
<script src = "../static/datamap.js" > </script>
<script src = "../static/goTo.js" > </script>

</head>

<body>
  <form action="/USA">
    <select name = "Countries">
      <option value = ""> Country </option>
      <option value = ",...."> United States </option>
    </select>
    <button type = select > Explore ! </button>
  </form>
</body>

<h1> Where are you traveling ? </h1>

<div id="basic"></div>
<div id = "funny" > <iframe width="560" height="315" src="https://www.youtube.com/embed/LV8FagvN0uA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
<p> <a href="Form.html">Are we missing a country ? </a> </p>
</html>
