<!-- This is the html page that makes a form box -called content- where user inputs text which is
 translated using googletrans in language.py -->

<html>
  <head>
    <link rel="stylesheet" href="../static/trans.css">
  </head>
  <body>
    <form id="box" action="/translate/{{ alpha_2 }}" method='get'>
      <div id="contentText"> What do you want to translate? <input type = "text" name = "content"></div>
      <div id="submitBox">
        <input type = "submit" value= "Translate">
      </div>
    </form>
    <div>
      [{{ content.text }}
      {{content.pronunciation}}]
    </div>
  </body>
</html>
