<!-- This is the html page that makes a form box -called content- where user inputs text which is
 translated using googletrans in language.py -->

<html>
  <head>
    <link rel="stylesheet" href="../static/trans.css">
  </head>
  <body>
    <form id="box" action="/translate/{{ alpha_2 }}" method='get'>
      <hr>
      <div id="contentText"> What do you want to translate?
        <input id="textBox" type = "text" name = "content">
        <input id="submitButton" type = "submit" value= "Translate">
      </div>
    </form>
    <div id="translatedText">
      {{ content.text }}
      <!-- <div >
        {{content.pronunciation}}
      </div> -->
    </div>
    <hr>
  </body>
</html>
